/* styles.css */
/*global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*bodies*/
.index-body {
  min-height: calc(100vh -3px);
  background: #1e272e;
}

@media (max-width: 600px) {
  .index-body {
    background-color: #1e272e;
  }
}

/*headers*/
.index-header {
    font-family: 'Comic Sans MS', 'Comic Sans', monospace;
    text-align: center;
    margin-top: 100px;
    font-size: 70px;
    color: wheat;
}

.box-header {
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-color: wheat;
  font-family: serif, 'comic sans ms', monospace;
  line-height: 2.4;
}

.list-header {
  margin-bottom: 10px;
}

.info-header {
  text-align: center;
}

.double-line-height {
  margin: 9.6px 0 9.6px 0 ;
}

/*text misc*/
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.one-line {
  line-height: 2.4;
}

.links {
  color: white;
  text-decoration-line: underline;
  text-decoration-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
}

.links:hover {
  color: darkblue;
}

/*boxes container*/
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-top: 80px;
}

/*box shape, size and colors*/
.box {
    border-radius: 25px;
    border: 8px solid wheat;
    height: 375px;
    width: 225px;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.info-box {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

/*WIP subpage*/
.wip-body {
  text-decoration: underline;
}