/*global body html*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #080A0D;
}



/*headers*/
h1 {
  padding-top: 100px; /*use padding to make the header background become bigger*/
  padding-bottom: 40px;
  text-align: center;
  font-size: 80px;
  color: #279AF1;
  background-color: #101419; /*use background color to make a
  gradient from the header to the background instead of manually making gradient*/
  line-height: 0.7;
}

.box-header {
  margin-bottom: 20px;
  text-decoration: underline;
  line-height: 2.4;
  color: white;
}

.list-header {
  margin-bottom: 10px;
}

.info-header {
  text-align: center;
}



/*text misc*/
p {
  color: white;
  line-height: 2.4; 
}

.double-line-height {
  margin: 9.6px 0 9.6px 0; /*margin instead of lineheight so 
  lockdown-protocol will be close on togheter, but add some space from other text elements in box*/

  /*9.6px is used because 16px (text size)*1.2 (line-height) is 19.2 so its 9.6px on top and bottom 
  so adding 9.6px to bottom and top doubles the line-height with margin */
}

.multiple-lines /*makes text with multiple lines get closer*/{
  line-height: normal;
}

.links {
  color: white;
  text-decoration-line: underline;
  text-decoration-color: white;
}



/*container and boxes*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
}

.box {
  border-radius: 25px;
  border: 8px solid #279AF1;
  height: 375px;
  width: 225px;
  padding-top: 10px;
  text-align: center;
}

.info-box {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}



/*copyright footer*/
footer {
  text-align: center;
  margin-top: 40px;
  color: white;
}

.footer {
  font-size: 0.9rem;
  margin-bottom: 10px;
}